<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id="resume_menu_root" name="Resume - CV">
        <menuitem id="resume_first_level_menu" name="Resume" sequence="10" >
            <menuitem
                id="resume_act"
                name="Curriculum"
                action="view_hr_cv_form_action"/>
        </menuitem>
    </menuitem>


</odoo>